{% extends "layout.html" %}

{% block body %}
    <div style="text-align:center; padding:100px">
      <img src = "{{url_for('static', filename= 'file-track.jpg')}}" class="w3-round" style = "width:70%; height:70%;">
    </div>
    <table align = "center">
    <td align = "center">
    <div align = "center" >
      <div class="v-container">
        <div class="wm-inner-wrapper-max">
          <div align = "center" class="wm-circle-icon margin-bottom-small">
            <img src="https://www.webmerge.me/images/solutions/spot-graphics/education.svg" alt="Education graphic">
          </div>
          <h1 >FILE TRACKING SYSTEM</h1>
          <p align = "center"><h3 >This paperless file tracking system helps educators automate their file submission procedures by quickly generating documents.From collecting the application to sending automated notices to office incharges, this system saves your time and money.</h3></p>
        </div>
      </div>
    </div>
    </td>
    </table>
    <br>
    <br>
    <br>
    <div class="row" width = "400">
  <div class="col-sm-6" width = "400">
    <div class="card" style="background-color:#F0AF60">
      <div class="card-body">
        <h5 class="card-title">File Tracking</h5>
        <p class="card-text">FTS follows a standard procedure of file numbering & enable file tracking, file movement tracking etc.</p>
      </div>
    </div>
  </div>
  <br>
  <div class="col-sm-6">
    <div class="card" style="background-color:#60AFF0">
      <div class="card-body">
        <h5 class="card-title">Ease of Retrieval</h5>
        <p class="card-text">FTS has very powerful search facility to locate a file.Track/Search for any letter or file in the organization</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="col-sm-6">
    <div class="card" style="background-color:#DAF7A6">
      <div class="card-body">
        <h5 class="card-title">User Friendly</h5>
        <p class="card-text">Capture remarks and action taken by the employees on a particular document in process.</p>
      </div>
    </div>
  </div>
  <br>
  <div class="col-sm-6" >
    <div class="card" style="background-color:#39D8A5">
      <div class="card-body">
        <h5 class="card-title">Ease of Access</h5>
        <p class="card-text">Management of all documents Stage Wise and User wise role based.Access Controls for software modules mapped to organization hierarchy.</p>
      </div>
    </div>
  </div>
  </div>
  <br>
  <br>
{%endblock%}